{% extends "templates/base.html" %}
{% block maincontent %}
<div class='jumbotron topcolor' >
	<div class='row'>
		<div class='col-md-10 col-md-offset-1'>
			<div class="row" style="margin-top:0px;margin-bottom:20px;">
				<div class="col-md-10 col-md-offset-1 visible-lg text-center">
					<h1 class='sheen' style='position:relative;font-size:70px;margin-top:90px;margin-bottom:0px;'><b><span></span>deviaTour</b></h1>
				</div>
				<div class="col-md-10 col-md-offset-1 visible-md text-center">
					<h1 class='sheen'  style='position:relative;font-size:65px;margin-top:45px;margin-bottom:20px;'><b><span></span>deviaTour</b></h1>
				</div>
				<div class="col-sm-8 col-sm-offset-2 visible-sm text-center">
					<h1 class='sheen'  style='font-size:48px;margin-top:45px;margin-bottom:20px;'><b><span></span>deviaTour</b></h1>
				</div>
				<div class="col-xs-12 visible-xs text-center">
					<h1 class='sheen'  style='font-size:34px;margin-top:30px;margin-bottom:0px;'><b><span></span>deviaTour</b></h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
				<p class='text-center' style="margin-bottom:20px;">SLOGAN HERE</p>
				</div>
			</div>
			<div class="row col-md-offset-2">
				<form accept-charset='UTF-8' action="/results" method="post" autocomplete="off" class="submitlocation">
					<div class="col-md-4">
						<input type="text" g-places-autocomplete ng-model="myScopeVar" class="form-control" placeholder="Where are you now?" name="location">
					</div>
					<div class="eatbutton col-md-4">
						<input type="text" class="form-control" placeholder="Where do you want to go?" name="query">
					</div>
					<button type="submit" class="btn btn-success" id="locationsubmit">Submit</button>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block addscripts %}
    <script src="/js/validationhome.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
	<script src="/js/autocomplete.js"></script>
{% endblock addscripts %}